li {
	list-style-type: none;
	/* outline: 1px white; */
	display: flex;
	flex-direction: row;
}
ul {
	width: 100%;
}
.itemCheckbox input {
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border: 1px solid white;
	border-radius: 25%;
	background-color: transparent;
	cursor: pointer;
	display: inline-block;
	position: relative;
	margin-right: 10px;
}
input[type="checkbox"]:checked {
	background-color: white;
}

/* input[type="checkbox"]:checked::after {
	content: "";
	position: absolute;
	top: 4px;
	left: 6px;
	width: 4px;
	height: 8px;
	border: solid black;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
} */
ul {
	/* list-style-type: none;
	padding: 0;
	margin: 0; */
	font-size: 16px;
}
li input[type="text"] {
	background-color: transparent;
	border: none;
	outline: none;
	color: white; /* Adjust as needed */
	/* font-size: 16px; */
	/* text-align: center; */
	line-height: 20px;
	height: 20px;
	width: 100%;
}
li input[type="checkbox"]:checked ~ input[type="text"] {
	text-decoration: line-through;
	/* color: gray; */
	/* opacity: 0.6;   */
}
.checklist {
	width: 100%;
	min-height: 200px;
	min-width: 100px;
	outline: 2px solid gray;
	padding: 5px;
	margin: 5px;
	background: #1f363d;
	border-radius: 5%;
	position: relative;
	display: flex;
	flex-direction: column;
}
.checkTop {
	display: flex;
	flex-direction: row;
	/* align-items: */
	justify-content: space-between;
	margin: 5px;
}
.checkItems {
	/* margin-top: 5px;
	margin-bottom: 5px; */
	margin: 5px;
	flex: 1;
	display: flex;
}
.addItemBtn {
	/* font-size: 24px; */
	/* min-width: 20px; */
	min-height: 20px;
	border-radius: 25%;
	border: none;
	/* background-color: black; */
	color: white;
	cursor: pointer;
	/* display: flex;
	justify-content: center;
	align-items: center; */
}
.checklist-date {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 2px;
	align-self: baseline;
	font-style: italic;
	color: gray;
	font-size: 10px;
}
