/* body {
	display: flex;
	align-items: center;
	justify-content: center;
} */

.sharedChecklist {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	max-width: 600px;
	min-width: 300px;
}

.sharedChecklist h2 {
	margin-bottom: 10px;
}

.sharedChecklist ul {
	list-style-type: none;
	padding: 0;
}

.sharedChecklist li {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.sharedChecklist li input[type="checkbox"] {
	margin-right: 10px;
}

.sharedChecklist li label {
	flex-grow: 1;
}

.sharedChecklist li button {
	margin-left: 10px;
}

li {
	list-style-type: none;
	/* outline: 1px white; */
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	height: 20px;
}
ul {
	width: 100%;
	font-size: 16px;
}
.itemCheckbox input {
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border: 1px solid white;
	border-radius: 25%;
	background-color: transparent;
	cursor: pointer;
	display: inline-block;
	position: relative;
	margin-right: 10px;
}
input[type="checkbox"]:checked {
	background-color: white;
}

li input[type="text"] {
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	line-height: 20px;
	height: 20px;
	width: 100%;
}
li input[type="checkbox"]:checked ~ .inputValue {
	text-decoration: line-through;
	/* color: gray; */
	/* opacity: 0.6;   */
}
.item-file {
	position: relative;
	margin-right: 20px;
}
.item-file a {
	color: white;
	text-decoration: none;
	margin-right: 5px;
}
.inputValue {
	flex-grow: 1;
}
.item-file button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}
